
@keyframes point_change {
  0% {
    opacity: 0.33;
  }

  33% {
    opacity: 0.66;
  }

  66% {
    opacity: 0.99;
  }

  99% {
    opacity: 0.33;
  }
}
.quick-taro-refresh-point {
  &__point {
    box-sizing: border-box;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #333;
    opacity: 0.33;
    margin: 5px 10px;
  }
  &__point_animation {
    animation: point_change 1.5s infinite;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.5s;
    }

    &:nth-child(3) {
      animation-delay: 1.0s;
    }
  }
}
